{% extends 'base.html' %}

{% block title %}Human Resources Module{% endblock %}

{% block content %}
  <h2>Human Resources Module » Employee Management</h2>

  

  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      {% for person in attendance %}
        <tr>
          <td>{{ person.employee.name }}</td>
          <td>{{ person.date }}</td>
          <td>{{ person.status }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No person in the database. <a href="{% url 'employee_add' %}">Add the first person</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}